<h1>Create a Sport</h1>

<%= form_for @sport do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br></br>

  <%= f.label :rules %>
  <%= f.text_area :rules %><br></br>

  <%= f.submit %>
<% end %>
