<h1>Create a Game</h1>

<%= form_for @game do |f| %>
  <%= f.label "Choose a sport:" %>
  <%= f.collection_select :sport_id, Sport.all, :id, :name %><br>
  <%= f.label "Choose an opponent:" %>
  <%= f.collection_select :opponent, @players, :id, :name %><br>
  <%= f.label "Date:" %>
  <%= f.date_field :date %><br>
  <%= f.label "Arena:" %>
  <%= f.text_field :arena %> </br>
  <%= f.label "Your score:" %>
  <input type="text" name="your_score"></br>
  <%= f.label "Opponent's score:" %>
  <input type="text"  name="opponent_score"></br>

  <%= f.submit %>
<% end %><br>
