<div id="white-text">
  <div class="wrapper2">
    <h1 class="align-center animated tada" id="lawnstar-signin-page">LawnStar</h1>
      <%= form_for @player, html: { multipart: true } do |f| %>
        <h2 class="form-signin-heading align-center no-text-decoration">Please Create an Account</h2>
        <%= f.text_field :name, class:"form-control align-left", placeholder: "Name"%>
        <%= f.password_field :password, class:"form-control align-left",  placeholder: "Password"%>
        <%= f.password_field :password_confirmation, class:"form-control align-left", placeholder: "Retype Password"%>
        <%= f.label :image, "Photo" %>
        <%= f.file_field :image %>
          <br>
        <div class = "align-center">
          <%= f.label :League%>
          <%= f.collection_select :league_id, League.all, :id, :name, class:"form-control align-center"%>
            <br>
            <br>
        </div>
        <%= f.submit class: "btn btn-lg btn-primary btn-block"%>
      <% end %>
      <br>
    <p class="align-center"><%= link_to "Already have an account? Sign in here.", signin_path%></p>
  </div>
</div>
