<div id="white-text">
<h1 class = "align-center"><%=@player.name.capitalize%></h1>

<div class = "align-center"><%= image_tag @player.image.url(:large), class: "profile-pic"%></div><br>
<table style="width:100%" class="formatted-table-text">
  <tr>
    <th>Name</th>
    <th>League you belong to</th>
    <th>Total Games Played</th>
    <th>Your Biggest Rival</th>
    <th>Your Biggest Nemesis</th>
    <th>Win Percentage</th>
  </tr>
  <tr>
    <td><%=@player.name.capitalize%></td>
    <td><%=link_to @player.league.name, league_path(@player.league)%></td>
    <td><%=@total_games_played%></td>
    <td><% if @rival_name==nil %>
        None right now. Play some games bro!
        <% else %>
          <%=@rival_name%> -- <%=@amount_of_times_youve_played_eachother%> game(s)
        <% end %> </h3>
    </td>
    <td><%=@nemesis_name%> whooped you <%=@nemesis_wins%> time(s)!</td>
    <td><%=@win_percentage%>%</td>
  </tr>
</table>
<br>
<br>
<h3>Your Record by Sport: </h3>
<table class="player-show-page-table formatted-table-text">
    <th>Sport Name: </th>
    <%@sports_record.collect do |s, r| %>
      <th> <%=s%> </th>
    <%end%>
  </tr>
  <tr>
    <td>Wins</td>
    <% @sports_record.collect do |s, r| %>
      <% r.collect do |r, t| %>
        <%if r == "wins"%>
          <td><%=t%></td>
        <%end%>
      <%end%>
    <%end%>
  </tr>
    <td>Losses</td>
    <% @sports_record.collect do |s, r| %>
      <% r.collect do |r, t| %>
        <%if r == "losses"%>
          <td><%=t%></td>
        <%end%>
      <%end%>
    <%end%>
</table>
<br>
<br>
<br>
<table class="player-show-page-table formatted-table-text">
  <tr>
    <th>Total Wins</th>
    <th>Total Losses</th>
    <th class="animated tada">Naked Lap Counter</th>
  </tr>
  <tr>
    <td><%=@wins%></td>
    <td><%=@losses%></td>
    <td><%=@player.naked_laps%></td>
  </tr>
</table>
